.main-container {
  width: 100%;
  display: flex;
}

.wrap-form {
  text-align: end;
}

.main-container .add-botton .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
