.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.login-container .img-login {
  margin-bottom: 15px;
}
