.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .menu-page {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 100%;
}
